@-webkit-keyframes rotate-out-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
    40% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        opacity: 1;
      }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
  }
  @keyframes rotate-out-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
    40% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        opacity: 1;
      }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
  }
   